/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oakes Grotesk";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Oakes Grotesk"), url("../public/fonts/Oakes Grotesk Light.ttf") format("truetype");
}

@font-face {
  font-family: "Oakes Grotesk";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Oakes Grotesk"), url("../public/fonts/Oakes Grotesk Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oakes Grotesk";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Oakes Grotesk"), url("../public/fonts/Oakes Grotesk Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Oakes Grotesk";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Oakes Grotesk"), url("../public/fonts/Oakes Grotesk SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Oakes Grotesk";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Oakes Grotesk"), url("../public/fonts/Oakes Grotesk Bold.ttf") format("truetype");
}

html, body {
  font-family: Oakes Grotesk, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-moz-selection {
  color: #fff;
  background-color: #013CAC;
}

::selection {
  color: #fff;
  background-color: #013CAC;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.assets{
  animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}